<p>knob works!</p>
<h3>Knob Component</h3>
<p-knob [(ngModel)]="value" valueTemplate="{value}%" valueColor="SlateGray" rangeColor="MediumTurquoise" />
<!-- [min]="-50" [max]="50" -->
<!-- [step]="10" -->
<!-- [strokeWidth]="5" -->
<!-- [size]="200" -->
<!-- valueColor="SlateGray" rangeColor="MediumTurquoise" -->
<!-- [readonly]="true" -->



<p-knob [(ngModel)]="value" size="150" readonly="true" />
<div class="flex gap-2">
    <p-button icon="pi pi-plus" (onClick)="value = value+1" [disabled]="value >= 100" class="mr-3"/>
    <p-button icon="pi pi-minus" (onClick)="value = value-1" [disabled]="value <= 0" />
</div>