<br>
<h3>Input Number</h3>
<div class="row">
    <div class="col-4">
        <p-inputNumber [(ngModel)]="value" mode="decimal" inputId="withoutgrouping" [useGrouping]="false"    />

    </div>
</div>
<!-- inputId="minmaxfraction"
mode="decimal"
[minFractionDigits]="2"
[maxFractionDigits]="5" -->

<!-- inputId="minmax"
mode="decimal"
[min]="0"
[max]="100" -->

<!-- [showButtons]="true" -->
<!-- prefix="Expires in " -->
<!-- suffix=" days" -->

<!-- [showButtons]="true"
buttonLayout="horizontal"
inputId="horizontal"
spinnerMode="horizontal"
[step]="0.25"
decrementButtonClass="p-button-danger"
incrementButtonClass="p-button-success"
incrementButtonIcon="pi pi-plus"
decrementButtonIcon="pi pi-minus"
mode="currency"
currency="EUR" -->