<h2>Dropdown Component</h2>
<p-dropdown [options]="cities" [(ngModel)]="selectedCity"  optionLabel="name" 
    placeholder="Select a City"  variant="filled" />
    <!-- [editable]="true" -->
    <!-- [checkmark]="true" -->
    <!-- [showClear]="true" -->
    <!-- [filter]="true" -->
    <!-- filterBy="name" -->
    <!-- [virtualScroll]="true" -->
    <!-- [virtualScrollItemSize]="38" -->
    <!-- variant="filled" -->
<br><br>

    <div class="flex justify-content-center">
        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"  placeholder="Select a Country">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" ngIf="selectedCountry">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + selectedCountry.code.toLowerCase()" style="width: 18px" />
                    <div>{{ selectedCountry.name }}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px" />
                    <div>{{ country.name }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
 