<h3>Listbox Component</h3>
<p-listbox [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" [style]="{'width':'15rem'}"
    [multiple]="true" [metaKeySelection]="false" [listStyle]="{'max-height': '220px'}" />
    <!-- [filter]="true" -->
     <br>
     <h5>Template</h5>
    <p-listbox [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"
        [listStyle]="{ 'max-height': '250px' }" [style]="{ width: '15rem' }" [listStyle]="{'max-height': '220px'}">
        <ng-template let-country pTemplate="item">
            <div class="flex align-items-center gap-2">
                <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                    [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px" />
                <div>{{ country.name }}</div>
            </div>
        </ng-template>
    </p-listbox>