<app-autocomplete></app-autocomplete>
<app-calender></app-calender>
<app-cascade-select></app-cascade-select>
<app-checkbox></app-checkbox>
<app-chips></app-chips>
<app-colorpicker></app-colorpicker>
<app-dropdown></app-dropdown>
<app-floatlabel></app-floatlabel>
<app-iconfield></app-iconfield>
<app-inputgroup></app-inputgroup>
<app-inputmask></app-inputmask>
<app-inputnumber></app-inputnumber>
<app-inputotp></app-inputotp>
<app-knob></app-knob>
<app-listbox></app-listbox>
<app-multiselect></app-multiselect>
<app-password></app-password>
<app-radiobutton></app-radiobutton>
<app-rating></app-rating>
<app-selectbutton></app-selectbutton>
<app-slider></app-slider>
<app-radiobutton></app-radiobutton>
<app-treeselect></app-treeselect>
<app-button></app-button>
<app-dataview></app-dataview>
<app-orgchart></app-orgchart>
<app-paginators></app-paginators>
<!-- <app-picklist></app-picklist> -->
 <app-table></app-table>
 <app-table2></app-table2>
 <app-timeline></app-timeline>
 <app-tree></app-tree>
 <app-treetable></app-treetable>
 <app-accordion></app-accordion>
 <app-divider></app-divider>
 <app-stepper></app-stepper>
 <app-tabview></app-tabview>
 <app-toolbar></app-toolbar>
 <app-confirmdialog></app-confirmdialog>
 <app-confirmpopup></app-confirmpopup>
 <app-dialog></app-dialog>
 <app-overlaypanel></app-overlaypanel>
 <app-sidebar></app-sidebar>
 <app-breadcrumb></app-breadcrumb>
 <app-menu></app-menu>
 <app-megamenu></app-megamenu>
<app-block-ui></app-block-ui>
<app-progressbar></app-progressbar>
<app-carousel></app-carousel>

