<h3>Confirm Popup</h3>
<br>
<p-toast />
<p-confirmPopup #confirmPopupRef>
    <ng-template pTemplate="headless" let-message let-test>
        <div class="border-round p-3">
            <span>{{ message.message }}</span>
            <div class="flex align-items-center gap-2 mt-3">
                <p-button (onClick)="accept()" label="Save" size="small" />
                <p-button (onClick)="reject()" label="Cancel" [outlined]="true" size="small" />
            </div>
        </div>
    </ng-template>
</p-confirmPopup>
<p-button (onClick)="confirm($event)" label="Save" />
