<br>
<h3>Multiselect Component</h3>
<h5>Template</h5>
<div class="row">
    <div class="col-6">
            <p-multiSelect [options]="countries" [(ngModel)]="selectedCountries" placeholder="Select Countries" optionLabel="name">
                <ng-template let-value pTemplate="selectedItems">
                    <div class="inline-flex align-items-center gap-2 px-1" *ngFor="let option of value">
                        <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                            [class]="'flag flag-' + option.code.toLowerCase()" style="width: 18px" />
                        <div>{{ option.name }},</div>
                    </div>
                    <div *ngIf="!value || value.length === 0">Select Countries</div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                            [class]="'flag flag-' + country.code.toLowerCase()" style="width:18px" />
                        <div>{{ country.name }}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="footer">
                    <div class="py-2 px-3">
                        <b>
                            {{ selectedCountries ? selectedCountries.length : 0 }}
                        </b>
                        item{{ (selectedCountries ? selectedCountries.length : 0) > 1 ? 's' : '' }} selected.
                    </div>
                </ng-template>
            </p-multiSelect>

    </div>
</div>
    <!-- display="chip" -->

